name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v1
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Linter
      run: |
        make ci-linter

    - name: Precompiled
      run: |
        make ci-generate

    - name: Test
      run: |
        make ci-tests
